.container{
    background-color: cornflowerblue;
    padding: 2%;
    margin-top: 1%;
}

li {
    list-style: none;
    background-color: lightgray;
    border-radius: 10px;
    margin: 15px;
    display: flex;
}

li p {
    margin: 0;
    padding: 15px;
    width: 100%;
}

.pendiente {
    font-size:larger;
}